<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ejo.petwalk.dao.ManagerMapper">

	<insert id="insertNewService" parameterType="ServiceVO">
		insert into service_tb
		(
			service_name
			,service_price
			,service_time
			,service_info
			,service_type
		)
		values
		(
			#{service_name}
			,#{service_price}
			,#{service_time}
			,#{service_info}
			,#{service_type}
		
		)
	</insert>
	
	<select id="selectAllService" parameterType="ServiceVO" resultType="ServiceVO">
		select * from service_tb
	</select>
	
	<select id="selectOneService" parameterType="String" resultType="ServiceVO">
		select * from service_tb
		where
			service_id = #{service_id}
	</select>
	
	<delete id="deleteOneService" parameterType="String">
		delete from service_tb
		where
			service_id = #{service_id}
	</delete>
	
	<update id="updateService" parameterType="String">
		update service_tb
		set
			service_name= #{service_name}
			,service_price = #{service_price}
			,service_time = #{service_time}
			,service_info = #{service_info}
			,service_type = #{service_type}
		where
			service_id = #{service_id}
	</update>

 <select id="selectMember"  parameterType="MemberVO" resultType="MemberVO">
       SELECT *
		FROM member_tb
		WHERE mb_id=#{mb_id}
		AND mb_pw=#{mb_pw}
 </select>
 
 
<select id="duplcheck"  parameterType="MemberVO" resultType="MemberVO">
       SELECT *
		FROM member_tb
		WHERE mb_id=#{mb_id}
 </select>
<insert id="signup" parameterType="MemberVO">
	insert into member_tb
	(
		mb_id
		,mb_pw
		,mb_name
		,mb_nickname
		,mb_email
		,mb_addr
		,mb_lineid
		,mb_status
	)
	values
	(
		#{mb_id}
		,#{mb_pw}
		,#{mb_name}
		,#{mb_nickname}
		,#{mb_email}
		,#{mb_addr}
		,#{mb_lineid}
		,#{mb_status}
	)
</insert>

<select id="login"  parameterType="MemberVO" resultType="MemberVO">
       SELECT *
		FROM member_tb
		WHERE mb_id=#{mb_id} AND mb_pw = #{mb_pw}
 </select>
 
<select id="idpwchck"  parameterType="MemberVO" resultType="MemberVO">
       SELECT *
		FROM member_tb
		WHERE mb_id=#{mb_id} AND mb_pw = #{mb_pw}
 </select>
 
 <update id ="memberupdate" parameterType = "MemberVO">
 	UPDATE member_tb
 	SET
 	 mb_pw = #{mb_pw}
 	,mb_name = #{mb_name}
 	,mb_nickname = #{mb_nickname}
 	,mb_email = #{mb_email}
 	,mb_addr = #{mb_addr}
 	,mb_lineid = #{mb_lineid}
 	WHERE mb_id = #{mb_id}
 </update>
<delete id = "deleteAccount" parameterType = "MemberVO">
	DELETE FROM member_tb
	WHERE mb_id = #{mb_id} AND mb_pw = #{mb_pw}
</delete>
<select id = "selectDogId" parameterType = "PetVO" resultType = "PetVO">
	SELECT *
	FROM pet_tb
	WHERE pet_id = #{pet_id}
</select>
<insert id="insertPet" parameterType="PetVO">
	insert into pet_tb
	(
		mb_id
		,pet_name
		,pet_sex
		,pet_birth
		,pet_weight
		,pet_type
		,pet_breed
		,pet_neuter
		,pet_status
	)
	values
	(
		#{mb_id}
		,#{pet_name}
		,#{pet_sex}
		,#{pet_birth}
		,#{pet_weight}
		,#{pet_type}
		,#{pet_breed}
		,#{pet_neuter}
		,#{pet_status}
	)
</insert>
<select id = "selectDogByMemberId" parameterType = "PetVO" resultType = "PetVO">
	SELECT *
	FROM pet_tb
	WHERE mb_id = #{mb_id}
</select>
</mapper>