<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.ejo.petwalk.dao.MemberMapper">


 <select id="selectMember"  parameterType="MemberVO" resultType="MemberVO">
       SELECT *
		FROM member_tb
		WHERE mb_id=#{mb_id}
		AND mb_pw=#{mb_pw}
 </select>
 
 
<select id="duplcheck"  parameterType="MemberVO" resultType="MemberVO">
       SELECT *
		FROM member_tb
		WHERE mb_id=#{mb_id}
 </select>
<insert id="signup" parameterType="MemberVO">
	insert into member_tb
	(
		mb_id
		,mb_pw
		,mb_name
		,mb_nickname
		,mb_email
		,mb_addr
		,mb_lineid
		,mb_status
	)
	values
	(
		#{mb_id}
		,#{mb_pw}
		,#{mb_name}
		,#{mb_nickname}
		,#{mb_email}
		,#{mb_addr}
		,#{mb_lineid}
		,#{mb_status}
	)
</insert>

<select id="login"  parameterType="MemberVO" resultType="MemberVO">
       SELECT *
		FROM member_tb
		WHERE mb_id=#{mb_id} AND mb_pw = #{mb_pw}
 </select>
 
<select id="idpwchck"  parameterType="MemberVO" resultType="MemberVO">
       SELECT *
		FROM member_tb
		WHERE mb_id=#{mb_id} AND mb_pw = #{mb_pw}
 </select>
 
 <select id="idpwchckSitter"  parameterType="SitterVO" resultType="SitterVO">
       SELECT *
		FROM sitter_tb
		WHERE st_id=#{st_id} AND st_pw = #{st_pw}
 </select>
 
 
 <update id ="memberupdate" parameterType = "MemberVO">
 	UPDATE member_tb
 	SET
 	 mb_pw = #{mb_pw}
 	,mb_name = #{mb_name}
 	,mb_nickname = #{mb_nickname}
 	,mb_email = #{mb_email}
 	,mb_addr = #{mb_addr}
 	,mb_lineid = #{mb_lineid}
 	WHERE mb_id = #{mb_id}
 </update>
<delete id = "deleteAccount" parameterType = "MemberVO">
	DELETE FROM member_tb
	WHERE mb_id = #{mb_id} AND mb_pw = #{mb_pw}
</delete>
<select id = "selectDogByMemberId" parameterType = "PetVO" resultType = "PetVO">
	SELECT *
	FROM pet_tb
	WHERE mb_id = #{mb_id}
</select>




 <insert id="insertMemberImage" parameterType="FileVO">
		INSERT INTO file_tb (file_sav,file_org,file_type,file_no)
		VALUE(
			#{file_sav},
			#{file_org},
			#{file_type},
			#{file_no}
		)
 </insert>
 
 <delete id="deleteMemberImage" parameterType="MemberVO">
		DELETE 
		FROM file_tb
		WHERE file_type = 'member' 
		AND file_no=#{mb_id}
 </delete>
 
   <select id="selectMemberProfileImg" parameterType="MemberVO" resultType="FileVO">
   	    SELECT *
		FROM file_tb
		WHERE file_type = 'member' 
		AND file_no=#{mb_id}
 </select>
 <insert id="insertPet" parameterType="PetVO">
	insert into pet_tb(
		mb_id
		,pet_name
		,pet_sex
		,pet_birth
		,pet_weight
		,pet_type
		,pet_breed
		,pet_neuter
		,pet_status
	)
	values
	(
		#{mb_id}
		,#{pet_name}
		,#{pet_sex}
		,#{pet_birth}
		,#{pet_weight}
		,#{pet_type}
		,#{pet_breed}
		,#{pet_neuter}
		,#{pet_status}
	)
</insert>
 <delete id = "deletePet" parameterType = "PetVO">
 		DELETE
		FROM pet_tb
		WHERE pet_id = #{pet_id}
 </delete>
 <select id="selectAllMember" resultType = "MemberVO">
 SELECT * 
 FROM member_tb
 </select>
 		<select id="selectStreamId" parameterType = "MemberVO" resultType = "String">
 SELECT mb_streamid
 FROM member_tb
 where #{mb_id} = mb_id
 </select>
</mapper>
