<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.ejo.petwalk.dao.ReservationMapper">

<!-- 예약번호 기준 채팅 불러오기 -->
 <select id="selectAllChat"  parameterType="String" resultType="HashMap">
      	SELECT *
		FROM chat_tb
		WHERE res_id=#{res_id}
 </select>

<!-- 소켓전송한 채팅 인서트 -->
<insert id="insertChat" parameterType="ChatVO">
	INSERT INTO chat_tb ( res_id,chat_sender,chat_receiver,chat_content,chat_date)
	VALUES(
 
		#{res_id},
		#{chat_sender},
		#{chat_receiver},
		#{chat_content},
		#{chat_date}
	)
</insert>

<!-- 예약번호로 예약불러오기 -->
 <select id="selectOneRes"  parameterType="String" resultType="ReservationVO">
      	SELECT *
		FROM reservation_tb
		WHERE res_id=#{res_id}
 </select>
 
 <!--[Map] Location 위치 정보 인서트 -->
 <insert id="insertLoc" parameterType="LocationVO"> 
 	INSERT INTO location_tb
 	( 
 		res_id
 		,loc_long
 		,loc_lat
 		,loc_time
 		,loc_action
 	)
	VALUES
	(
		#{res_id}
		,#{loc_long}
		,#{loc_lat}
		,NOW()
		,#{loc_action}
	)
 </insert>
 
 <!--[Map] 예약번호 기준으로 Location 모든 위치 정보 가져 오기 -->
 <select id="selectLocationInfoAll" parameterType="String" resultType="LocationVO">
 	SELECT *
	FROM location_tb
	WHERE res_id=#{res_id}
</select>

</mapper>
